<html>
    <head>
        <title>Login | MongoFLask Result App</title>
        <link rel="stylesheet" href="login.css">
        <style>
            .i1{
                color: red;
                }
        </style>
    </head>
    <body>
        <center>
            <h1 class="i1">RESULT</h1>
            <form action="/result" method="GET">
                Name : <input type="text" name = "name" required>
                Roll No : <input type="number" name="roll" required>
                <input type="submit">
            </form>
        </center>
    </body>
</html>